<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BLOG APP</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
	    	<div class="ui fixed inverted menu">
				<div class="ui container">
				    <div class="header item"><i class="circle icon"> </i><a href="/"> Blog Site </a>  </div>
				    <a class="item" href="/blogs/newpost"> New Post    </a>
					<a class="item" href="#"> Update Post </a>
					<a class="right item" href="#"> Sign Up     </a>
					<a class="item" href="#"> Log in      </a>
				</div>
		    </div>

<body>
	
